.main-header {
  width: 100%;
  background-image: url(../../img/header-img.jpg);
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 15px; }

.main-header__description {
  max-width: 640px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center; }

.main-header__title {
  font-family: 'Lobster', cursive;
  color: black;
  opacity: 0.8;
  font-size: 100px;
  margin-top: 40px;
  margin-bottom: 40px; }

.main-header__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 32px;
  color: black;
  opacity: 0.7;
  background-color: burlywood;
  border-radius: 20px; }

.main-header__stock {
  display: block;
  width: 200px;
  height: 200px;
  margin: 10px auto;
  background-color: #f8aeaa;
  opacity: 0.9;
  border-radius: 50%;
  background-image: url(../../img/orderbuy.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.nav-panel {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px 0; }

.nav-panel__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  margin: 0;
  list-style: none; }

.nav-panel__btn a {
  text-decoration: none;
  color: #16a085;
  font-family: Muller, sans-serif;
  font-size: 26px; }

.nav-panel__logo {
  width: 48px;
  height: 48px;
  background-image: url(../../img/nuv-icons.png);
  background-repeat: no-repeat;
  background-position: center; }

.main {
  width: 100%;
  background-color: #ebffff; }

.main-description {
  max-width: 750px;
  padding: 20px 20px;
  margin: 0 auto;
  text-align: center; }

.main-description__feature {
  font-family: 'Lobster', cursive;
  font-size: 38px;
  color: #007d75; }

.main-description__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  line-height: 1.7em;
  color: #06504b; }

.main-photo {
  width: 100%;
  background: linear-gradient(to top, #fefcea, #00a99d); }

.main-photo__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 65px; }

.main-photo__img {
  width: 170px;
  height: 170px;
  margin-right: 70px;
  margin-top: 65px;
  box-sizing: border-box; }
  .main-photo__img img {
    border-radius: 50%;
    width: 170px;
    height: 170px; }

.main-photo__img--no-margin {
  margin-right: 0; }

.main-stock {
  width: 100%;
  background-color: #fafbe9;
  padding: 25px 0; }

.main-stock__description {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center; }
  .main-stock__description hr {
    width: 400px; }

.main-stock__description-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  line-height: 1.7em;
  color: #06504b; }

.main-stock__description-icon-before:before {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url(../../img/Weather.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.main-stock__description-icon-after:after {
  content: "";
  display: block;
  position: absolute;
  left: 75%;
  width: 70px;
  height: 70px;
  background-image: url(../../img/Weather.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.main-price {
  width: 100%;
  padding: 25px 0;
  background: linear-gradient(to top, #ffebb5, #fafbe9); }

.main-price__wrapper {
  max-width: 780px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center; }

.main-price__title {
  font-family: 'Lobster', cursive;
  font-size: 38px;
  color: #007d75; }

.main-price__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  line-height: 1.7em;
  color: #06504b; }

.main-price__text-icon-before:before {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url(../../img/Weather.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.footer {
  width: 100%;
  background: linear-gradient(to top, #2d3e50, #ffebb5); }

.footer-contacts__wraper {
  max-width: 940px;
  margin: 0 auto;
  padding: 25px 20px;
  text-align: center;
  position: relative; }

.footer-contacts__items-holder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.footer-contacts__title {
  font-family: 'Lobster', cursive;
  font-size: 38px;
  color: #004e49;
  margin-bottom: 30px; }

.footer-contacts__item-title {
  font-size: 20px;
  line-height: 1.8em; }

.contacts__item--style {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-weight: bold; }

.footer-map {
  width: 100%; }
  .footer-map iframe {
    width: 100%; }

@font-face {
  font-family: Muller;
  src: url(../fonts/muller-extrabold.ttf); }

@font-face {
  font-family: Display;
  src: url(../fonts/sfns-display.ttf); }

@font-face {
  font-family: Display-thin;
  src: url(../sfns-display-thin.ttf); }

@font-face {
  font-family: Nautilus;
  src: url(../nautiluspompilius.ttf); }

body {
  padding: 0;
  margin: 0; }
