@charset "UTF-8";
/******Основные блоки********/
.main-header {
  width: 100%; }

.main-header__title {
  max-width: 650px;
  height: 640px;
  padding-top: 250px;
  margin: 0 auto;
  text-align: center; }

.nav-panel {
  max-width: 650px;
  margin: 0 auto; }

.nav-panel__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  list-style: none; }

.progress-description {
  width: 100%; }

.progress-description__wrapper {
  margin: 0 auto;
  max-width: 970px;
  height: 1130px;
  /*временно*/
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.progress-description__item {
  max-width: 400px; }

.progress-description__item--aside {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.progress-description__footer-img {
  background: grey;
  width: 100%;
  height: 215px; }

.team-description {
  width: 100%;
  height: 730px; }

.team-description__wrapper {
  width: 1030px;
  margin: 0 auto;
  text-align: center; }

.team-description__title {
  margin-bottom: 315px; }

.team-description__items-wrapper {
  display: -ms-flexbox;
  display: flex; }

.services-description {
  width: 100%; }

.services-description__title {
  width: 430px;
  text-align: center;
  margin: 0 auto;
  margin-top: 220px;
  margin-bottom: 420px; }

.services-description__items-wrapper {
  width: 1200px;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto; }

.services-description__link {
  width: 230px;
  margin: 0 auto;
  margin-top: 520px;
  text-align: center; }

.main-footer {
  width: 100%; }

.main-footer__wrapper {
  width: 830px;
  margin: 0 auto;
  margin-top: 410px; }

.main-footer__contact-title {
  text-align: center;
  margin-bottom: 70px; }

.main-footer__contact-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.main-footer__contact-form {
  margin-top: 150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.main-footer__copyright {
  text-align: center;
  margin-top: 150px; }

/*******Вспомогательные********/
