
@font-face {
    font-family: PTSans NarrowBold;
    src: url(../fonts/web/ptsansnarrowbold.woff);
}

body {
    background: black url("../img/index/title-img.jpg")  no-repeat center top; 
    color: white;    
    font-family: "PTSans NarrowBold", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    min-width: 960px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
/*Стили для header*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.main-header {
    margin-bottom: 55px;
    background: black;
   
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.main-navigation {
    width: 780px;
    float: left;
    min-height: 70px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation a {
    display: block;
    padding: 26px 20px;
    color: white;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: PTSans NarrowBold;
    text-decoration: none;
}
.main-navigation a:hover {
    background: #242424;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    
    
}


.user-block {
    max-width: 140px;
    float: right;
    min-height: 70px;
}

.login {
    position: relative;
    display: inline-block;
    padding: 26px 20px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-decoration: none;
}

.login:hover {
    background: #242424;
}

.login::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: url("../img/index/icon-login.hover.png") no-repeat;
    opacity: 0.3;
}

.login:hover::before {
    opacity: 1;
}
/*Стили для main*/
.features {
    margin-bottom: 80px;
}

.index-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}

.features-item a {
    margin: 10px;
    margin-bottom: 0;
}
.features-name {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 30px;
    padding-bottom: 35px;
}

.features-name::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    margin-left: -10px;
    transform: rotate(45deg);
}

.features-item:last-child {
    margin-right: 0;
}

.index-content {
    padding: 50px 80px;
    margin-bottom: 35px;
    color: black;
    background:
        url("../img/index/Layer%20shadow.png") no-repeat center,
        #f9f6f3 url("../img/index/patern.jpg") ;
}

.index-content-title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
}

.index-content p {
    margin: 0;
    margin-bottom: 25px;
}

.index-content-left {
    float: left;
    width: 380px;
}

.news-preview{
    margin: 0;
    padding: 0;
    padding-right: 35px; 
    list-style: none;
}

.news-preview li {
    margin-bottom: 25px;
}

.news-preview p {
    margin-bottom: 0;
}

.news-preview time {
    font-weight: 400;
    text-transform: none;
}

.btn {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    vertical-align: top;
    text-align: center;
    font-family: PTSans NarrowBold;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover,
.btn:active {
    background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background-color: #000000;
}

.index-content-right {
    float: right;
    width: 320px;
}

.gallery {
    position: relative;
    height: 260px;
    margin: 0;
}

.galery-content {
    height: 164px;
    width: 285px;
    margin: 0;
    border: 7px solid white;
    background-color: grey;
}

.gallery .btn {
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
    margin-right: 20px;
}

.galery-prev {
    left: 0;
}



.galery-next {
    right: 0;
}
    
.apointment-form input {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width:106px;
    padding: 7px 15px;
    background-color: #f9f6f3 ;
    border: 2px solid black;
    outline: none;
    font-size: 14px;
    line-height: 24px;
    font-family: "PTSans NarrowBold", sans-serif;
    text-transform: uppercase;
    color: black;
}

.apointment-form input:nth-child(2n) {
    margin-right: 0;
}

.apointment-form input:focus {
    border: 2px solid #663d15;
}

.apointment-form .btn {
    clear: both;
    width: 100%;
}

/*стили для footer*/
.main-footer {
    padding: 60px 40px;
    color: white;
    background: #252525 url("../img/index/patern-footer.jpg");
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer-social {
    float: left;
    width: 180px;
    text-align: center;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    font-size: 0;
    text-decoration: none;
    transition: 
        background-position 0.5s,
        background-color 1s;
}

.social-btn-vk {
    background: black url("../img/v.png") no-repeat center;
}

.social-btn-vk:hover {
    background: white url("../img/v-hover.png") no-repeat center;
}

.social-btn-fb {
    background: black url("../img/f.png") no-repeat center;    
}

.social-btn-fb:hover {
    background: white url("../img/f-hover.png") no-repeat center;
}

.social-btn-inst {
    background: black url("../img/i.png") no-repeat center;
}

.social-btn-inst:hover {
    background: white url("../img/i-hover.png") no-repeat center;
} 

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.footer-copyright {
    float: right;
    max-width: 180px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
}