.container {
    width: 320px;
    margin: 0 auto;
}

@media (min-width: $tablet){
 .container {   
    width: 700px;
    margin: 0 auto;
 }
}

@media (min-width: $desk){
 .container {   
    width: 960px;
    margin: 0 auto;
 }
    
    
}