@font-face {
    font-family: Muller;
    src: url(../fonts/muller-extrabold.ttf);
}

@font-face {
    font-family: Display;
    src: url(../fonts/sfns-display.ttf);
}

@font-face {
    font-family: Display-thin;
    src: url(../sfns-display-thin.ttf);
}

@font-face {
    font-family: Nautilus;
    src: url(../nautiluspompilius.ttf);
}

