/**************Mobile ver.*******************/
.contest {
    margin-bottom: 50px;
}

.contest__title {
    text-align: center;
    color: $ashen;
    font-family: OpenSansLight, Verdana, sans-serif;
    line-height: 1.2em;
    font-size: 24px;
    background: url(../../img/bg-back-mobile@1x.jpg) no-repeat;
    background-position: center; 
    background-size: 100%;
    padding-top: 25px;
    padding-bottom: 55px;
    padding-left: 45px;
    padding-right: 45px;
}

.contest__description{
    text-align: center;
    color: $dark-ashen;
    font-family: OpenSans, Verdana, sans-serif;
    line-height: 2.1em;
    font-size: 14px; 
    padding-top: 42px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.contest__description-request {
    display: none;
}


.contest__user-date {
    border: 0px solid;
    margin: 0;
    margin-bottom: 40px;
    padding: 30px 20px;
}

.contest__form-label {
    color: $pink;
    font-family: OpenSans, Verdana, sans-serif;
    line-height: 2.1em;
    font-size: 14px; 
    
}

.contest__input {
    display: block;
    width: 255px;
    text-align: left;
    font-family: OpenSans, Verdana, sans-serif;
    line-height: 1.6em;
    font-size: 18px;
    border: 2px solid $milk;
    border-radius: 2px;
    padding: 15px 0;
    padding-left: 20px;
    margin-bottom: 15px;
}


.contest__user-achieve {
    background: $coffe;
    padding: 30px 20px;
}

.contest__form-legend {
    text-align: center;
    text-transform: uppercase;
    color: $pink;
    font-family: OpenSans, Verdana, sans-serif;
    line-height: 1.2em;
    font-size: 14px; 
    width: 220px;
}


.contest__label-chekbox {
    display: block;
    font-family: OpenSans, Verdana, sans-serif;
    line-height: 1.6em;
    font-size: 18px;
    margin-bottom: 40px;
}

.contest__user-soft {
    background: $coffe;
}

.contest__label-radio {
    display: block;
    font-family: OpenSans, Verdana, sans-serif;
    line-height: 1.6em;
    font-size: 18px;
    margin-bottom: 40px;
}

.contest__btn {
    font-family: OpenSansBold, Verdana, sans-serif;
    line-height: 1.6em;
    font-size: 18px;
    text-transform: uppercase;
    color: $white;
    background: $green;
    border: 1px solid $green;
    border-radius: 2px;
    padding: 15px 45px;
    margin: 0 20px;
}

.contest__reminder {
    text-align: center;
    text-transform: uppercase;
    font-family: OpenSans, Verdana, sans-serif;
    line-height: 2.1em;
    font-size: 14px;
}
/********************************************/

/*****************Tablet ver.****************/

@media (min-width: $tablet) {
    .contest__title {
        font-size: 50px;
        padding-top: 70px;
        padding-bottom: 90px;
        padding-left: 30px;
        padding-right: 30px;
        background-position: center;
    }
    
    .contest__description{
        line-height: 1.6em;
        font-size: 18px; 
        padding-top: 90px;
        padding-bottom: 30px;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .contest__description-request {
        display: inline;
    }
    
    .contest__user-date-holder {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    } 
    
    .contest__form-label {
        text-transform: uppercase;
        margin-right: 20px;
    }
    
    .contest__input {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .contest__user-date-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .contest__user-soft {
        background: $white;
    }
    
    .contest__user-soft :last-child {
        margin-bottom: 0;
    }
    
    .contest__user-date {
        border: 2px solid $milk;
        margin: 0;
        margin-bottom: 56px;
        padding: 30px 57px;
    }
    
    .contest__user-date--style {
        border: 0px solid;
        padding: 30px 0;
        order: 1;
    }
    
    .contest__user-date--style :last-child {
        margin-bottom: 0;
    }
    
    .contest__form-holder {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .contest__form-label--position {
        margin-left: 20px;
        margin-bottom: 35px;
    }
    
    .contest__form-label--margin {
        margin-bottom: 0;
    }
    
    .contest__user-achieve {
        background: $white;
    }
    
    .contest__form-legend {
        padding: 0 23px;
        width: auto;
    }
    
    .contest__label-chekbox--margin {
        margin-bottom: 0;
    }
    
    .contest__btn {
        margin: 0;
        padding: 15px 57px;
    }
    .contest__reminder {
        display: inline-block;
        margin-left: 220px;
    }
    
    .contest__input--width {
        width: 95%;
    }
}

/********************************************/

/*********************Desktop ver.*****************************/

@media (min-width: $desk) {
    .contest__title {
        background-size: 160%;
        font-size: 50px;
        padding-top: 175px;
        padding-bottom: 85px;
        padding-left: 195px;
        padding-right: 190px;
    }
    
    .contest__description{ 
        padding-top: 90px;
        padding-bottom: 30px;
        padding-left: 195px;
        padding-right: 200px;
    }
    
    .contest__user-date-wrapper {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .contest__user-date--style {
        width: 45%;
        order: 1;
        padding-bottom: 0;
    }
    
    .contest__user-soft {
        width: 321px;
        order: 2;
    }
    
    .contest__user-date-contact {
        width: 100%;
        order: 3;
    }
    
    .contest__user-achieve {
        width: 100%;
        order: 4;
    }
}

/*************************************************************/