/*************Mobile ver.********************/

.download-page {
    background: #1d2631;
    position: relative;
}

.download-page__background-image {
    position: relative; 
    height: 395px;
    background: url(../../img/bg-back-mobile@1x.jpg) no-repeat bottom;  
}

.download-page__image {
    position: absolute;
    bottom: 0;
    right: 65px;
}
.download-page__link{
    text-decoration: none;
}

.download-page__title {
    display: none;
}

.download-page__link--btn {
    display: block;
    font-family: OpenSansBold, Verdana, sans-serif;
    line-height: 1em;
    font-size: 18px;
    color: $white;
    text-align: center;
    border: 3px solid $white;
    border-radius: 25px;
    width: 275px;
    padding: 15px 0;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
}

.download-page__link-holder {
    display: flex;
    width: 220px;
    margin: 0 auto;
}

.download-page__link--apple {
    font-size: 0;
    background: url(../../img/logo-apple.svg) no-repeat center;
    height: 56px;
    width: 50px;
    margin-right: 35px;
}

.download-page__link--android {
    font-size: 0;
    background: url(../../img/logo-android.svg) no-repeat bottom;
    height: 56px;
    width: 50px;
    margin-right: 35px;
}

.download-page__link--win {
    font-size: 0;
    background: url(../../img/logo-microsoft.svg) no-repeat bottom;
    height: 56px;
    width: 50px;
}

.download-page__description {
    font-family: OpenSansLight, Verdana, sans-serif;
    line-height: 1.7em;
    font-size: 14px;
    font-weight: lighter;
    color: $gray;
    padding: 35px 40px;
    text-align: center;
}
/********************************************/

/*******************tablet ver.**************************/

@media (min-width: $tablet) {
    .download-page__background-image {
        height: 620px;
        background-size: cover;
    }
    
    .download-page__image {
        height: 545px;
        right: 40px;
    }
    
    .download-page__title {
        display: block;
        width: 195px;
        margin: 0 auto;
        font-family: OpenSansLight, Verdana, sans-serif;
        line-height: 1.2em;
        font-size: 40px;
        color: $gray;
        text-align: center;
    }
    
    .download-page__holder {
        width: 280px;
        position: absolute;
        top: 90px;
        left: 50px;
    }
    
    .download-page__description {
        padding: 35px 0;
    }
}

/********************************************************/

/*******************Desktop ver.******************************/

@media (min-width: $desk) {
    .download-page__background-image {
        height: 850px;
        background-size: 160%;
    }
    
    .download-page__image {
        left: 475px;
        height: 645px;
    }
    
    .download-page__holder {
        left: 130px;
        top: 215px;
        width: 300px;
    }
    
    .download-page__title {
        font-size: 50px;
        width: 230px;
    }
    
    .download-page__link--btn {
        margin-top: 55px;
        margin-bottom: 60px;
        font-size: 21px;
    }
    
    .download-page__description {
        line-height: 1.3em;
        font-size: 18px;
        padding: 50px 0;
    }
}

/*************************************************************/