/**************Mobile ver.*******************/

.features__titles {
    font-family: OpenSansLight, Verdana, sans-serif;
    line-height: 1.2em;
    font-size: 24px;
    text-align: center;
    padding-top: 37px;
    
}

.features__title {
    margin-bottom: 28px;
}

.features__title--bottom {
    margin-bottom: 60px;
}

.features__items {
    background: $coffe;
    padding-top: 55px;
    position: relative;
}

.features__decoration {
    position: absolute;
    right: 0px;
    top: -29px;
    width:0;
    height:0;
    border:30px solid transparent;
    border-bottom:0;
    border-right: 100vw solid $coffe;
}

.features__items-holder {
    box-sizing: border-box;
    padding: 0 19px;
}

.features__item {
    font-family: OpenSansLight, Verdana, sans-serif;
    line-height: 1.7em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 34px;
}

.features__item-caption {
    font-family: OpenSansBold, Verdana, sans-serif;
    line-height: 0.5em;
    font-size: 18px;
}

.features__item-description {
    font-family: OpenSans, Verdana, sans-serif;
    line-height: 1.7em;
    font-size: 14px;
}

.features__image--display {
    display: none;
}

.features__item--invert {
    display: flex;
    margin: 0;
    flex-direction: column-reverse;
}

.features__image--position {
    margin: 0 auto;
    margin-top: 30px;
    img {
        display: block;
    }
}

/********************************************/

/********************Tablet ver.*********************/

@media (min-width: $tablet) {
    .features__titles{
        font-size: 40px;
        padding-top: 50px;
    }
    
    .features__title {
        margin: 0;
    }
    
    .features__title--bottom {
        width: 340px;
        margin: 0 auto;
        margin-bottom: 55px;
    }
    
    .features__image img {
        width: 275px;
        background-size: cover; 
    }

    
    .features__item {
        text-align: left;
        margin-bottom: 24px;
    }
    
    .features__decoration {
        position: absolute;
        left: 0px;
        top: 0px;
        width:0;
        height:0;
        border:52px solid transparent;
        border-top:0;
        border-left: 100vw solid $white;
    }
    
    .features__item-holder {
         width: 310px;
    }
    
    .features__items-holder {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-bottom: 0;
        padding-right: 38px;
        margin-top: 14px;
    }
    
    .features__image--position {
        position: absolute;
        left: 40px;
        bottom: 0;
    }
}

/*****************************************************/

/*******************Desktop ver.******************************/

@media (min-width: $desk) {
    .features__titles {
        font-size: 50px;
        padding-top: 70px;
        padding-right: 100px;
        padding-left: 100px;
    }
    
    .features__title--bottom {
        width: 440px;
        margin-bottom: 160px;
    }
    
    .features__items {
        width: 100%;
    }
    
    .features__item {
        text-align: center;
    }
    
    .features__decoration {
        border: 65px solid transparent;
        border-right: 960px solid $coffe;
    }
    
    .features__item-caption {
        line-height: 1em;
        font-size: 30px;
    }
    
    .features__item-description {
        line-height: 1.6em;
        font-size: 18px;
    }
    
    .features__image--display {
       display: block;
    }
    
    .features__image--position {
        position: inherit;
        margin: 0;
    }
    
    .features__item--invert {
        flex-direction: column;
        padding: 0;
    }
    
     .features__items-holder {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        align-items: flex-start;
        padding-bottom: 20px;
    }
    
}

/************************************************************/