/**************Mobile ver.*******************/

.features__titles {
    font-family: OpenSansLight;
    line-height: 32px;
    font-size: 24px;
    text-align: center;
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
}

.features__title {
    margin-bottom: 25px;
}

.features__title--bottom {
    margin-bottom: 60px;
}

.features__items {
    background: #f2f2f2;
}

.features__item {
    font-family: OpenSansLight;
    font-size: 14px;
    text-align: center;
    padding: 0 30px;
}

.features__item-caption {
    font-family: OpenSansBold;
    font-size: 17px;
}
/********************************************/