.footer-copyright {
    display: flex;
    padding: 25px 15px;
}

.footer-copyright__links {
    text-align: center;
    display: flex;
}

.footer-copyright__link {
    font-size: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

.footer-copyright__dev-name {
    margin-right: 30%;
    align-self: center;
}

.footer-copyright__link--Li {
    background-image: url(../../img/Social%20media%20Badge-06.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer-copyright__link--Fb {
    background-image: url(../../img/Social%20media%20Badge-04.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer-copyright__link--Git {
    background-image: url(../../img/Social%20media%20Badge-07.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer-copyright__up-arrow {
    width: 60px;
    height: 50px;
    background-image: url(../../img/up-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(180deg);
}

.footer-copyright__arrow {
    margin-left: auto;
}
