.main-price {
    width: 100%;
    padding: 25px 0;
    background: linear-gradient(to top, #ffebb5, #fafbe9);
}

.main-price__wrapper {
    max-width: 780px; 
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

.main-price__title {
    font-family: 'Lobster', cursive;
    font-size: 38px;
    color: #007d75;
}

.main-price__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    line-height: 1.7em;
    color: #06504b;
}

.main-price__text-icon-before:before {
    content: "";
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url(../../img/Weather.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}