.main-photo {
    width: 100%;
    background: linear-gradient(to top, #fefcea, #00a99d);
}

.main-photo__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 65px;
}

.main-photo__img {
    width: 170px;
    height: 170px;
    margin-right: 70px;
    margin-top: 65px;
    box-sizing: border-box;
    img {
        border-radius: 50%;
        width: 170px;
        height: 170px;
    }
}

.main-photo__img--no-margin {
    margin-right: 0;
}

.main-photo__img--click {
    img {
        position: absolute;
        top: 10px;
        left: 0px;
        width: 900px;
        height: 470px;
        border: 8px solid #00a99d;
        border-radius: 5px;
    }
}