.nav-panel {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px 0;
}

.nav-panel__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
	list-style: none;
}

.nav-panel__btn {
    a {
        text-decoration: none;
        color: #16a085;
        font-family: Muller, sans-serif;
        font-size: 26px;
        padding: 0 4px;
    }
}

.nav-panel__logo {
    width: 48px;
    height: 48px;
    background-image: url(../../img/nuv-icons.png);
    background-repeat: no-repeat;
    background-position: center;
}