
/*************Mobile ver.****************/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



.page-header {
    font-family: OpenSansBold, Verdana, sans-serif;
    text-transform: uppercase;
    background: #283645;
}

.main-nav__panel {
    display: flex;
    padding: 20px; 
    border-bottom: 1px groove $black;  
}

.main-nav__logo {
    margin-right: auto;
}

.main-nav__toggle {
    background: url(../../img/icon-menu-cross.svg) no-repeat;
    width: 28px;
    height: 28px;
    border: 0px solid ;
}

.main-nav__items {
    padding: 0;
    margin: 0;
}

.main-nav__item {
    list-style: none;
    text-align: center;
    
}
.main-nav__link {
    text-decoration: none;
    line-height: 1.7em;
    font-size: 18px;
    color: $white;
    border-bottom: 1px groove $black;
    padding: 15px 0;
    display: block;
}

/****************************************/


/*******************Tablet ver.*******************************/

@media (min-width: $tablet) {
   .main-nav__panel {
        padding: 40px;  
    }    
}

/*************************************************************/

/*******************Desktop ver.******************************/

@media (min-width: $desk) {
    body {
        position: relative;
    }
    
    .main-nav {
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 120px;
        background-color: rgba(40, 54, 69, 0.5);;
    }
    
    .main-nav__wrapper {
        margin-left: 160px;
    }
    
    .main-nav__panel {
        padding: 0;  
        border: 0;
        margin-left: 130px; /***Уберу костыль на этапи адаптации графики**/
    }
    
    .main-nav__toggle {
        display: none;
    }
    
    .main-nav__item {
      display: inline-block;
    }
    
    .main-nav__link {
        font-family: OpenSans, Verdana, sans-serif;
        line-height: 1em;
        border-bottom: 0px solid;
        text-transform: none;
        padding: 35px 0;
        margin-left: 80px;
    }
}

/*************************************************************/