/**************Mobile ver.*******************/

.page-footer__link-logo{
    text-align: center;
    margin-bottom: 34px;
}


.page-footer__copyright {
    font-family: OpenSans, Verdana, sans-serif;
    line-height: 1.2em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 35px;
}

.page-footer__copyright-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    width: 35px;
    height: 35px;
    background: url("../../img/htmlacademy.svg") no-repeat center;
}

.page-footer--index {
    display: none;
}
/********************************************/

/************Tablet ver.********************/

@media (min-width: $tablet) {
    .page-footer {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        padding: 0 38px;
        padding-top: 100px;
    }
    
    .page-footer__link-logo{
    margin-bottom: 40px;
}
}

/*******************************************/

/*******************Desktop ver.******************************/

@media (min-width: $desk) {
     .page-footer {
        padding: 0 10px;
        padding-top: 28px;
    }
}