/**************Mobile ver.*******************/

.page-footer__link-logo{
   text-align: center;
    margin-bottom: 35px;
}


.page-footer__copyright {
    font-family: OpenSans, Verdana, sans-serif;
    line-height: 1.2em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 35px;
}

.page-footer__copyright-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    width: 35px;
    height: 35px;
    background: url("../../img/htmlacademy.svg") no-repeat center;
}

.page-footer-index {
    display: none;
}
/********************************************/

/************Tablet ver.********************/

@media (min-width: 700px) {
    .page-footer-index {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .page-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

/*******************************************/