/****************Mibile ver.***********************/
.photo-editor {
    background: $coffe; 
    margin-bottom: 40px;
}

.photo-editor__picture {
    padding: 0 20px;
    padding-top: 20px;
}


.photo-editor__items {
    padding: 0 50px;
}

.photo-editor__item {
    display: inline-block;
}

.photo-editor__item--crop {
    width: 50px;
    height: 50px;
    background: url("../../img/icon-editor-crop.svg") no-repeat center;
    margin: 35px 0;
}

.photo-editor__item--fill {
    width: 50px;
    height: 50px;
    background: url("../../img/icon-editor-fill.svg") no-repeat center;
    margin: 35px 0;
    margin-left: 30px;
}

.photo-editor__item--contrast {
     width: 50px;
    height: 50px;
    background: url("../../img/icon-editor-contrast.svg") no-repeat center;
    margin: 35px 0;
    margin-left: 30px;
}


.photo-editor__buttons {
    padding: 40px 0;
}

.photo-editor__button {
    display: block;
    width: 275px;
    font-family: OpenSansBold, Verdana, sans-serif;
    line-height: 1em;
    font-size: 18px;
    color: $pink;
    padding: 16px 20px;
    border: 3px solid $pink;
    border-radius: 25px;
    margin: 0 auto;
}

.photo-editor__button-confirm{
    margin-bottom: 12px;
}

/***************************************************/

/**************Tablet ver.**********************/

@media (min-width: $tablet) {
    .photo-editor {
        display: flex;
        padding: 50px 40px;
    }
    
    .photo-editor__picture {
        padding: 0;
    }
    
    .photo-editor__items {
        display: flex;
        flex-direction: column;
        padding: 0 40px;
        margin-bottom: 75px;
    }
    
    .photo-editor__item {
        border-bottom: 2px solid #dddfe0;
        margin: 0;
        width: 275px;
        background-position: left;
    }
    
    .photo-editor__buttons {
        padding: 0;
    }
    
    .photo-editor__button-confirm {
        margin-bottom: 25px;
    }
}

/***************************************************/

/*******************Desktop ver.******************************/

@media (min-width: $desk) {
    .photo-editor {
        box-sizing: border-box;
        padding-left: 80px;
    }
    .photo-editor__wrapper {
        margin-left: 90px;
    }
    
    .photo-editor__items {
        padding: 0;
    }
    
    .photo-editor__item {
        border-bottom: 2px solid #dddfe0;
        margin: 0;
        width: 410px;
        background-position: left;
    }
    
    .photo-editor__buttons {
        display: flex;
        align-items: flex-start;
    }
    
    .photo-editor__button {
        width: 182px;
        padding-top: 15px;
        padding-bottom: 17px;
        padding-left: 45px;
        padding-right: 30px;
    }
}

/************************************************************/