/**************Mobile ver.*******************/

/*Слайдер цен*/
.price__input {
    display: none;
}

.slider__toggle {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px $dark-grey;
    background: $dark-grey;
    margin: 0 3px;
    cursor: pointer;
    vertical-align: middle;
}

#price-input-1:checked ~ .slider__toggles .slider__toggle[for="price-input-1"],
#price-input-2:checked ~ .slider__toggles .slider__toggle[for="price-input-2"],
#price-input-3:checked ~ .slider__toggles .slider__toggle[for="price-input-3"] {
    background: $white;
    border: 3px solid $black;
}

#price-input-1:checked ~ .price__items .price__item {
    transform: translate(20px);
}

#price-input-2:checked ~ .price__items .price__item {
    transform: translate(-253px);
}

#price-input-3:checked ~ .price__items .price__item {
    transform: translate(-530px);
}

.price__toggles {
    text-align: center;
    margin-top: 35px;
}
/***********************************/

.price {
    position: relative;
    background: $coffe;
    padding-bottom: 45px;
    padding-top: 65px;
}

.price__wrapper {
    overflow: hidden;
}

.price__decoration {
    position: absolute;
    right: 0px;
    top: -25px;
    width:0;
    height:0;
    border: 25px solid transparent;
    border-bottom: 0;
    border-right: 320px solid $coffe;
}

.price__items {
    display: flex;
    width: 825px;
    padding: 0;
    margin: 0;
}

.price__item {
    list-style: none;
    width: 275px;
}

.price__item-hidden {
    display: none;
}

.price__title {
    background: #283645;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    border-left: 2px solid $white;
    border-right: 2px solid $white;
}

.price__title--hit {
    position: relative;
}

.price__item-title {
    font-family: OpenSansBold, Verdana, sans-serif;
    line-height: 1.6em;
    font-size: 18px;
    margin-bottom: 7px;
}

.price__value {
    font-family: OpenSansLight, Verdana, sans-serif;
    line-height: 1.2em;
    font-size: 24px;
}

.price__hit{
    background: url("../../img/price-hit.png") no-repeat;
    position: absolute;
    height: 73px;
    width: 73px;
    left: -2px;
    top: 0;
}

.price__access {
    background: $white;
    color: #283645;
    font-family: OpenSans, Verdana, sans-serif;
    line-height: 2.1em;
    font-size: 14px;
    padding: 15px 20px;
    border-left: 1px solid $milk; 
    border-right: 1px solid $milk;
    border-bottom: 2px solid $milk;
}

.price__access--yes {
    background: url("../../img/table-yes.png") no-repeat center;
}

.price__access--no {
    background: url("../../img/table-no.png") no-repeat center;
}
/********************************************/

/****************Tablet ver.*******************/

@media (min-width: $tablet) {
    .price {
        padding-top: 30px;
        padding-bottom: 70px;
    }
    
    .price__decoration {
    right: 0px;
    top: -54px;
    border: 55px solid transparent;
    border-bottom: 0;
    border-right: 705px solid $coffe;
    }
    
    .price__item {
       width: 155px;
    }
    
    .price__item-hidden {
        display: block;
   }
    
    
    
    .price__item-title {
        line-height: 1.8em;
        font-size: 16px;
    }
    
    .price__title {
        padding: 10px 0;
    }
    
    .price__value {
        line-height: 1.6em;
        font-size: 18px;
    }
    
    .price__access {
        font-size: 0;
        padding: 0;
        height: 50px;
    }
    
    .price__access--show {
        display: flex;
        align-items: center;
        line-height: 2.1em;
        font-size: 14px;
        padding: 0;
        padding-left: 10px;
    }
    
    .price__title-hidden {
        height: 83px;
    }
    
    .price__toggles {
        display: none;
    }
    
    #price-input-2:checked ~ .price__items .price__item {
        transform: translate(40px);
    }
    
    .price__access--yes {
        background: url("../../img/icon-yes.svg") no-repeat center;
        background-color: $white;    
    }

    .price__access--no {
        background: url("../../img/icon-no.svg") no-repeat center;
        background-color: $white; 
    }
}

/**********************************************/

/*******************Descktop ver.**************************/

@media (min-width: $desk) {
    .price {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .price__item {
       width: 232px;
    }
    
    .price__access--show {
        padding-left: 20px;
    }
    
    .price__items {
        margin-left: 20px;
    }
       
    .contest__description {
        margin-bottom: 35px;
    }
    
    .price__decoration {
        right: 0px;
        top: -89px;
        border: 90px solid transparent;
        border-bottom: 0;
        border-right: 960px solid $coffe;
    }
    
}

/**********************************************************/