/*******************Mobile ver.*******************************/

.research {
    display: none;
}

/*************************************************************/

/**********************Tablet ver.****************************/

@media (min-width: $tablet) {
    .research {
        display: flex;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    
    .research__timer {
        margin-left: 40px;
        margin-right: 75px;
    }
    
    .research__content {
        width: 300px;
    }
    
    .research__title {
        font-family: OpenSansBold, Verdana, sans-serif;
        line-height: 1.2em;
        font-size: 30px;
    }
    
    .research__content-text {
        font-family: OpenSans, Verdana, sans-serif;
        line-height: 1.7em;
        font-size: 14px;
    }
    
    .research__link {
        font-family: OpenSans, Verdana, sans-serif;
        line-height: 1.7em;
        font-size: 14px;
        color: #d22856;
    }
}

/*************************************************************/

/****************Desktop ver.***********************************/

@media (min-width: $desk) {
    .research {
        background: $coffe;
    }
    
    .research__timer {
        margin-left: 100px;
    }
    
    .research__content {
        width: auto;
        margin-top: 80px;
    }
    
    .research__title {
        line-height: 1em;
        margin-bottom: 15px;
    }
    
    .research__content-text {
        line-height: 1.6em;
        font-size: 18px;
        margin-bottom: 25px;
    }
    
    .research__link {
        line-height: 1.6em;
        font-size: 18px;
    }
}

/***************************************************************/
