/***************Mobile ver.**********************/

.reviews__items {
    margin: 0;
    padding: 0;
    font-family: OpenSans;
}

.reviews__item {
    list-style: none;
    text-align: center;
}

.reviews__item-title {
    line-height: 1.6em;
    font-size: 18px;
}

.reviews__item-description {
    line-height: 2.1em;
    font-size: 14px;
}
/************************************************/