/****************************Mobile ver.*********************************/

.user-gallery__title {
    text-align: center;
    color: $ashen;
    font-family: OpenSansLight;
    line-height: 1.2em;
    font-size: 24px;
    background: url(../../img/bg-back-mobile@1x.jpg) no-repeat center; 
    padding-top: 28px;
    padding-bottom: 86px;
    padding-left: 45px;
    padding-right: 45px;
    background-size: cover;
}


.user-gallery__text-preview {
    text-align: center;
    color: $dark-ashen;
    font-family: OpenSans;
    line-height: 2.1em;
    font-size: 14px; 
    padding-top: 46px;
    padding-bottom: 52px;
    padding-left: 35px;
    padding-right: 35px;
}

.user-gallery__user-post--position{
    position: relative;
}


.user-gallery__user-top {
    font-family: OpenSansBold;
    line-height: 2em;
    font-size: 12px;
    text-transform: uppercase;
    color: $white;
    background: $pink;
    padding: 5px 18px;
    position: absolute;
    right: 20px;
}

.user-gallery__user-foto--top {
    display: block;
    width: 100%;
}

.user-gallery__user-foto {
    width: 100%;
}

.user-gallery__holder-top {
    padding: 0 20px;
    margin: 0 auto;
    background: $white;
}

.user-gallery__wrapper {
    box-sizing: border-box;
    padding: 0 20px;
}

.user-gallery__user-text {
    font-family: OpenSans;
    line-height: 1.7em;
    font-size: 14px;
}

.user-gallery__user-post {
    background: $coffe;
    margin-bottom: 16px;
}

.user-gallery__items--inine {
    display: inline-block;
}

.user-gallery__user-name {
    font-family: OpenSansBold, Verdana, sans-serif;
}

.user-gallery__time-writing {
    font-family: OpenSansLight, Verdana, sans-serif;
    line-height: 2em;
    font-size: 12px;
}

.user-gallery__items {
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    background: $coffe;
}


.user-gallery__likes {
     margin-top: 12px;
}

.user-gallery__likes-timer {
    font-family: OpenSans, Verdana, sans-serif;
    line-height: 1.7em;
    font-size: 12px;
    color: #db5e80;
}

.user-gallery__text-end {
    text-align: center;
    font-family: OpenSans, Verdana, sans-serif;
    line-height: 2.1em;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 46px;
}



/************************************************************************/

/************************Tablet ver.******************************/

@media (min-width: $tablet) {
    .user-gallery__title {
        font-size: 50px;
        padding-top: 70px;
        padding-bottom: 140px;
        padding-left: 175px;
        padding-right: 170px;  
        background-position: center;
    }
    .user-gallery__text-preview {
        line-height: 1.6em;
        font-size: 18px;
        padding-top: 90px;
        padding-bottom: 90px;
        padding-left: 130px;
        padding-right: 130px;
    }
    
    .user-gallery__wrapper {
        padding: 0 40px;
    }
    
    .user-gallery__user-post {
        width: 300px;
        margin-bottom: 44px;
    }
    
    .user-gallery__user-foto {
        width: 300px;
        height: 300px;
    }
    
    .user-gallery__user-post-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .user-gallery__user-post--position {
        display: block;
        width: 100%;
    }
    
    .user-gallery__items {
        padding: 0 40px; 
        padding-top: 25px;
        padding-bottom: 25px;
        
    }
    
    .user-gallery__user-foto--top {
        width: 100%;
        height: 500px;
    }
    
    .user-gallery__user-top {
        top: 55px;
        right: 40px;
    }
    
    .user-gallery__holder-top {
        box-sizing: border-box;
        padding: 0 72px;
        margin-bottom: 40px;
    }
    
    .user-gallery__text-end {
        line-height: 1.6em;
        font-size: 18px;
        padding-top: 65px;
        padding-bottom: 65px;
    }
    
    .user-gallery__likes-timer {
        margin-bottom: 20px;
    }

}

/**************************************************************/

/*******************Desktop ver.******************************/

@media (min-width: $desk) {
    .user-gallery__title {
        padding-top: 170px;
        padding-bottom: 104px;
        padding-left: 280px;
        padding-right: 280px; 
        background-size: 160%;  
   }
    
    .user-gallery__text-preview {
        padding-left: 300px;
        padding-right: 300px;
    }
    
    .user-gallery__user-top {
        right: 130px;
        margin-bottom: 20px;
    }
    
    .user-gallery__holder-top {
        padding: 0 120px;
    }
    
    .user-gallery__user-post {
        margin-bottom: 39px;
    }
    
    .user-gallery__wrapper {
        padding: 0 10px;
    }
    
    .user-gallery__user-foto {
        width: 300px;
        height: 400px;
    }
    
    .user-gallery__user-foto--top {
        width: 100%;
        height: 500px;
    }
    
    .user-gallery__text-end {
        padding-top: 42px;
    }
}

/*************************************************************/